<template>
  <div style="background:url(https://wallpaperaccess.com/full/709283.jpg)
;background-repeat: no-repeat;background-size: cover;">
  <v-container >
    <v-row
    align="center"
    style="height: 500px;"
    >
      <v-col 
        align="center"
      >
        <h1 class="text-white">Однопользовательская игра с разными уровнями</h1>
        <v-btn class="ma-2" size="x-large" @click="gotoform()">Начать игру</v-btn>
      </v-col>
    </v-row>
  </v-container>
  </div>
  <v-container>

    <div class="text-center ma-10" style="height: 250px;">
      <h2>Окунитесь в прекрасный мир однопользовательской игры с разными уровнями</h2>
      <p>Этот мир таит в себе множество загадок. Станешь ли ты первым, кто раскроет их все до единой?</p>
    </div>

    <div style="height: 500px;">
    <h2 class="text-center">Последние новости</h2>
    <v-row class="ma-1">
      <v-col
        v-for="n in 3"
        :key="n"
        sm="4">
        <v-card title="Список изменений патча" text="Добавлены новые монстры" variant="outlined">
          <v-card-actions>
            <router-link to="/patch">
              <v-btn>Посмотреть</v-btn>
            </router-link>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    </div>

    <div style="height: 500px;">
    <h2 class="text-center ma-2">Отзывы</h2>
    <v-row justify="center">
      <v-col
        v-for="review in reviews"
        :key="review"
        sm="3">
        
      <v-list-item lines="one" :title="review.title" :subtitle="review.text" prepend-avatar="https://randomuser.me/api/portraits/men/43.jpg" variant="outlined">
      </v-list-item>
      </v-col>
    </v-row>
    </div>
<v-row
    justify="center"
    style="height: 500px;">
    <v-col 
        align="center"
        sm=6
    >
    <h2 class="text-center">Начните игру</h2>

    <v-form class="ma-5"
    ref="form"
    >
    <v-text-field
      label="Имя"
      required
    ></v-text-field>

    <v-text-field
      label="E-mail"
      required
    ></v-text-field>

    <v-btn size="x-large"
      color="success"
      class="mr-4"
      @click="reset"
    >
      Начать
    </v-btn>
  </v-form>
    </v-col>
  </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
      reviews: [
        {
          title: 'Josh',
          text: "Wow",
        },
        {
          title: 'Max',
          text: "So cool 12/10",
        },
        {
          title: 'Nick',
          text: "I`m loving it",
        },
      ],
    }),
  methods:{
    gotoform() {
      this.$refs["form"].scrollIntoView({ behavior: "smooth" })
    },
    reset() {
      this.$refs.form.reset()
  }
    }
  }
</script>
