<template>
  <v-container class="text-center">
    <img :src="patches.img" alt="Картинка монстра" style="object-fit:cover; border-radius: 8px">
    <h2>{{patches.name}}</h2>
    <p>{{patches.text}}</p>
    <p>HP: {{patches.hp}}</p>
    <p>DEF: {{patches.def}}</p>
    <p>DMG: {{patches.dmg}}</p>
  </v-container>
</template>

<script>
export default {
    data() {
        return {patches:[]}
    },
    mounted() {
        fetch('/main.json')
        .then((response) => {
            response.json().then((data) => {
                this.patches=data.find((item) => {
                    return item.id == this.$route.params.id
                })
            })
        })
    }
}
</script>

<style scoped>
img {
    width:250px;
    height:250px
}
</style>