<template>
  <v-container>
    <h2 class="text-center ma-10">Список изменений патча</h2>
    <h3 class="text-center ma-10">Новые монстры</h3>
    <v-row>
        <v-col sm="4" v-for="patch in patches" :key="patch.id">
            <router-link style="text-decoration:none" :to="'patch/'+patch.id">
            <v-card
            :title="patch.name"
            :text="patch.text"
            ></v-card>
        </router-link> 
        </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
    data() {
        return {patches:[]}
    },
    mounted() {
        fetch('/main.json')
        .then((response) => {
            response.json().then((data) => {
                this.patches=data
                console.log(data)
            })
        })
    }
}
</script>