<template>
  <v-app>
      <v-toolbar color="purple">
      
      <v-toolbar-title>
        <router-link style="text-decoration:none; color:white" to="/">
          Однопользовательская игра с разными уровнями
        </router-link>
      </v-toolbar-title>
      

      <v-list-item
            prepend-avatar="https://randomuser.me/api/portraits/men/43.jpg"
            title="Илья Бондарь"
            subtitle="Logged in"
          ></v-list-item>
    </v-toolbar>

      <v-main>
        <router-view/>
      </v-main>

    <v-footer class="bg-grey-lighten-1">
      <v-row justify="center" no-gutters>
        <v-col class="text-center mt-4" cols="12">
          {{ new Date().getFullYear() }} — <strong>Vuetify</strong>
        </v-col>
      </v-row>
    </v-footer>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    //
  }),
}
</script>
